@import "../../global/mixin.scss";

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  @include devices(mobile) {
    padding: 0.3rem 0;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  flex: none;

  @include devices(mobile) {
    height: 6rem;
    width: 8rem;
  }

  @include devices(small-mobile) {
    height: 3rem;
    width: 5rem;
  }
}

.navigation {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  font-size: 1.5rem;
  color: var(--c-primary);
  font-weight: 500;

  @include devices(mobile) {
    font-size: 1rem;
  }

  @include devices(small-mobile) {
    gap: 1rem;
  }
}
