@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1rem;
}


////////// Variables /////////////


:root{
// Colors
  --c-primary: #FF6060;
  --c-primary-hover: #e24343;
}
 
