@import "../../global/mixin.scss";

.infoSection {
  margin-top: 2.2rem;
  display: flex;
  justify-content: space-between;
  color: var(--c-primary);
  font-weight: 500;
  
  @include devices(mobile) {
    margin-top: 1rem;
    flex-direction: column;
  }
  
  h1 {
    font-size: 2.2rem;
    font-weight: inherit;
    
    @include devices(mobile) {
      font-size: 1.6rem;
    }
  }
  
  p {
    font-size: 1.5rem;

    @include devices(mobile) {
      font-size: 1.1rem;
    }
  }
}

.tagList {
  margin-top: 1.6rem;
  display: flex;
  gap: 0.7rem;
}

.host {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.8rem;

  @include devices(mobile) {
    margin-bottom: 0;
  }

  p {
    display: flex;
    flex-direction: column;
    text-align: end;
  }
}

.hostImage {
  border-radius: 100%;
  overflow: hidden;
  height: 5rem;
  width: 5rem;
  @include devices(mobile) {
    height: 3.5rem;
    width: 3.5rem;
  }
}

.rightInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include devices(mobile) {
    margin-top: 1rem;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.collapseSection {
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
  gap: 4rem;

  @include devices(mobile) {
    flex-direction: column;
    gap: 1.5rem;
  }
}
